{% extends "layout.njk" %}
{% block header %}
    <link rel="stylesheet" href="./styles/forgot-password.css">
    <title>Forgot Password</title>
    <script src="./scripts/changePassword.js" defer></script>    
{% endblock %}

{% block main %}
    <div class="container" id="container">
        <form id="change-password-form" action="">
          <h1>Forgot Password </h1>

          <h2>Change your password </h2>


          <span>New Password</span>


          <input id="orig" type="password" placeholder="Enter Your New Password" required>

          <span>Confirm Password</span>
          <input id="confirm" type="password" placeholder="Confirm Your Password" required >

          <button type="submit">Reset Your Password</button>
        
        </form>
          
        


      </div>
{% endblock %}