{% extends "layout.njk" %}
{% block header %}
    <link rel="stylesheet" href="./styles/forgot-password.css">
    <title>Forgot Password</title>
    <script src="./scripts/forgotPassword.js" defer></script>  
    
{% endblock %}

{% block main %}
    <div class="container" id="container">
        <form id="forgot-password-form" action="">
            <h1>Forgot Password ?</h1>
            <h2>No worries, we'll send you reset instructions </h2>
            <span>Email</span>
            <input id="email" type="email" placeholder="Enter Your Email" required>
            <button type="submit">Reset Your Password</button>
        </form>
    </div>
{% endblock %}