{% extends "layout.njk" %}

{% block header %}
    <link rel="stylesheet" href="./styles/jalsa-details.css">
    <link rel="stylesheet" href="./styles/jalsa-chat.css">
    <script type="module" defer src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule defer src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>'s Jalsah</title>
{% endblock %}

{% block main %}
    <div class="main-container">
        <Section class="jalsa-details">
            <div class="players">
                <ul class="players-list">
                    <li class="player-attribute">
                        <ion-icon class="player-icon" name="person-outline"></ion-icon>
                        <span class="player-name player0"></span>
                    </li>
                    <li class="player-attribute">
                        <ion-icon class="player-icon" name="person-outline"></ion-icon>
                        <span class="player-name player1"></span>
                    </li>
                    <li class="player-attribute">
                        <ion-icon class="player-icon" name="person-outline"></ion-icon>
                        <span class="player-name player2"></span>
                    </li>
                    <li class="player-attribute">
                        <ion-icon class="player-icon" name="person-outline"></ion-icon>
                        <span class="player-name player3"></span>
                    </li>
                </ul>
            </div>
            <div class="jalsa-info">
                <ul class="jalsa-info-list">
                    <li class="jalsa-serial">
                        <span>Jalsa Serial: </span><span id="jalsaSerial"></span>
                    </li>
                    <li class="game-access">
                        <span>Game Access: </span><span id="gameAccess"></span>
                    </li>
                    <li class="jalsa-time">
                        <span>Time: </span><span class="jalsah-time"></span>
                    </li>
                    <li class="jalsa-description">
                        <span>Description:<br></span><span id="description"></span>
                    </li>
                    <div class="leave-btn">
                        <a href="/sessions" class="leave">Leave</a>          
                    </div>
                </ul>
            </div>
            <div class="jalsa-location">
                <iframe
                frameborder="0" style="border:0"
                src=""
                allowfullscreen
                id="google-maps">
                </iframe>
            </div>
        </section>
        <section class="jalsa-chat">
            <div class="chat-container">
                <h2 class="chat-header">Chat Room:</h2>
                <div class="chat-messages">
                </div>
                <form class="chat-input-form">
                    <input type="text" class="chat-input" required placeholder="Type here, You..." />
                    <button type="button" class="button send-button">Send</button>
                </form>
            </div>
        </section>
    </div> 
    <script src="/socket.io/socket.io.js"></script>
    <script src="./scripts/jalsah.js"></script>
{% endblock %}