<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="./styles/style.css">
    {% block header %}

	{% endblock %}
    <link rel="icon" type="x-icon" href="/diamond-solid.svg">
</head>
<body>
	<header>
		<div class="navbar">
			<div class="navbar-title"><a href="/index">Rabbe3na</a></div>
			<div class="dropdown">
				<button class="dropbtn">
					<span class="user-icon">👤</span>
					<span id="username_">Guest</span>
					<span class="arrow-down"></span>
				</button>
				<div class="dropdown-content">
					<a id="log" href="/access">Log in</a>
				</div>
			</div>
		</div>
	</header>
	{% block main %}

	{% endblock %}
	<footer>
		&copy; Rabbe3na. All Rights Reserved. | Designed by Group 8 &#10024;
	</footer>
	<script src="./scripts/name.js"></script>
	</body>
</html>