{% extends "layout.njk" %}

{% block header %}
    <link rel="stylesheet" href="./styles/profile.css"/>
    <script src="./scripts/profile.js"></script>
    <title>Profile</title>
{% endblock %}

{% block main %}
<div class="profile-section">
	<img src="./assets/prof-pic.png" alt="Profile" class="profile-picture">
	<div class="profile-info">
		<p class="username">@</p>
		<p class="joined-date">Joined January 2024</p>
		<p class="location">Riyadh, Saudi Arabia</p>
		<p class="contact"></p>
	</div>
</div>
{% endblock %}