{% extends "layout.njk" %}
{% block header %}
    <script src="./scripts/sessions.js" defer></script>
	<script src="./scripts/google-maps.js" defer></script>   
    <link rel="stylesheet" href="./styles/sessions.css">
    <title>Jalsaat</title>
{% endblock %}

{% block main %}
	<div class="main-container">
		<div class="main-jalsaat-container">
			<div class="search-container">
				<input type="search" id="search" class="search-input" placeholder="Enter the serial number of the Jalsaah...">
				<button type="submit" id="search-button" class="search-button">
					<i class="fas fa-search"></i>
				</button>
			</div>
			<div id="jalsahList" class="jalsah-list-container">
				<!-- New jalsah elements will be appended here -->
			</div>	
		</div>
		<div class="sidebar">
			
		</div>		
		<button class="create-btn" id="createJalsahButton">Create A New Jalsah</button>
	</div>
	<div id="myModal" class="modal">
      	<div class="modal-content">
        	<span class="close">&times;</span>
        	<h2>Create a New Jalsah</h2>
        	<div class="form-section">
          		<label for="gameAccess">Game Access:</label>
				<button class="access-button public">Public</button>
				<button class="access-button private">Private</button>
        	</div>
			<div class="form-section">
				<label for="time">Time:</label>
				<input type="datetime-local" id="time" name="time" required>
			</div>
			<div class="form-section">
				<label for="location">Location:</label>
				<input type="hidden" id="shortAddress">
				<input id="locationInput" type="text" placeholder="Enter a location">
			<div id="map" style="height: 400px; width: 100%;"></div>
			</div>
				<div class="form-section">
				<label for="description">Description:</label>
				<textarea id="description"></textarea>
			</div>
			<button id="createButton" class="create-button">Create</button>
      	</div>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1ZdB--UrF6JRqP7PadNiQ4B0BBAvWRMA&amp;callback=initMap&amp;libraries=places"></script>
{% endblock %}