.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BBB5A8;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30rem;
    width: 40%;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #BBB5A8;
    width: 100%;
}

.search-button {
    padding: 10px;
    background-color: #BBB5A8;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
}

.search-container:hover {
    box-shadow: 0 0 5px  #000000;
    transition: 0.2s;
}

.search-button:hover {
    background-color: #723032;
    transition: 0.2s;
}

