.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BBB5A8;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30rem;
    width: 40%;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #BBB5A8;
    width: 100%;
}

.search-button {
    padding: 10px;
    background-color: #BBB5A8;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
}

.search-container:hover {
    box-shadow: 0 0 5px  #000000;
    transition: 0.2s;
}

.search-button:hover {
    background-color: #723032;
    transition: 0.2s;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 20%;
    margin-right: 20px;
    width: 300px; 
    height: 60%;
    background: #FFF6E5; 
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  
  .create-btn {
    background-color: #723032; 
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 20vw;
    width: 100%;
    text-transform: uppercase;
    position: relative;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    
  }

  .create-btn:hover {
    box-shadow: 0 0 30px #000;
    
  }

  .sidebar p{
    font-size: 16px;
    margin-top: 20px;
  }

  .sidebar h1{
    
    text-decoration: solid;
    
  }


  .modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #FFF;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    min-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Form Sections */
  .form-section {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .form-section label {
    font-weight: bold;
  }
  
  .form-section p {
    display: inline-block;
    margin-left: 10px;
  }
  
  .access-button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  .access-button.active {
    background-color: #84C686;
  }
  
  
  
  .create-button {
    width: 100%;
    background-color: #84C686; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-button:hover {
    background-color: #76b07c; 
  }
  
  /* Textarea Styling */
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
  }



  .jalsah {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .jalsah-header .jalsah-name {
    font-weight: bold;
  }
  
  .jalsah-info {
    text-align: right;
  }
  
  .join-btn {
    background-color: #84C686;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
  }
  
  .join-btn:hover {
    background-color: #76b07c; 
  }

  .jalsah-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* This will create a grid with a flexible number of columns depending on the container's width */
    grid-gap: 20px; /* This is the space between the grid items */
    padding: 20px;
    justify-content: center; /* This will center the grid items in the container when they don't fill up the entire width */
    align-items: start; /* Aligns items to the start of the grid area */
    max-width: 1200px; /* Maximum width of the grid */
    margin-bottom: 50rem; 
    margin-right: 10rem;
  }
