.jalsa-chat {
	margin-top: 30px;
    max-width: 800px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.chat-container {
    background: #FFF6E5;
    border-radius: 20px;	
	padding: 10px;
    box-shadow: 0 0 1.25em 0.5em #c3c3c333;
}

.chat-header {
    margin-bottom: 0.4rem;
    color: #1F1F1F;
    font-size: 2.25em;
}
  
.chat-header h2 {
    font-size: 1.25em;
    font-weight: bold;
}
  
.chat-messages {
	height: 40vh;
    overflow-y: scroll;
}
  
.chat-messages::-webkit-scrollbar {
    display: none;
}
  
.message {
	background-color: #76b1ff;
    padding: 0.625em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    color: #fff;
}
  
.message-sender {
    font-weight: bold;
    margin-bottom: 0.31em;
}
  
.message-text {
    font-size: 1em;
    margin-bottom: 0.31em;
    word-wrap: break-word;
}
  
.message-timestamp {
    font-size: 0.75em;
    text-align: right;
}
  
.chat-input-form {
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 0.625em;
}
  
.chat-input {
    padding: 0.625em;
    border: none;
    border-radius: 0.5em;
    background-color: #999489;
    color: #FFF6E5;
    font-size: 1em;
    flex-grow: 1;
}

.send-button {
    border: none;
    padding: 0.625em;
    border-radius: 0.5em;
    cursor: pointer;
	background-color: #4c4a45;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}
  
.send-button:hover {
    filter: brightness(0.9);
}
  
.send-button:active {
    transform: translateY(2px);
}
::placeholder {
	color: #FFF6E5;
}