.profile-section {
  position: relative;
  top: 60px;
  margin: 10px;
  padding: 20px;
  background: #fcf1dc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  align-content: center;
}


.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.username{
  font-weight: 600;
}

h1, .username, .joined-date, .location, .contact {
  margin: 5px;
}

.edit-profile-btn {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #84C686;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .profile-section, .previous-jalsaat-section {
    width: 100%; /* Take the full width on smaller screens */
    margin: 10px 0;
  }

  .previous-jalsaat-container {
    margin-left: 0;
    align-items: center; 
  }

  .jalsah-container {
    width: 100%; /* Jalsah cards take full width */
  }

  .profile-picture {
    width: 150px;
    height: 150px; 
  }
}


@media (max-width: 480px) {
  .profile-info h1, .profile-info .username, .profile-info .joined-date, .profile-info .location, .profile-info .contact {
    font-size: smaller; 
  }

  .edit-profile-btn {
    font-size: smaller; 
  }
}
