.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    
    width: 400px;
    max-width: 100%;
    min-height: 480px;
    margin: auto;
    margin-bottom: 10px;
}

.container h1{
    margin-left: 50px;
    margin-top: 50px;
}

.container h2{
    color: gray;
    font-size: 12px;
    margin-left: 60px;
}

.container input{
    background-color: #eee;
    border: none;
    margin-left: 45px;
    margin-top: 50px;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 80%;
    outline: none;
}

.container span{
    position: absolute;
    font-size: 14px;
    margin-left: 55px;
    margin-top: 30px;
    padding: auto;
}

.container button{
    background-color: #723032;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 70px;
}

.container button:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.container input:focus{
    border: 1px solid #333;
    transition: 0.5s;
}